<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.username.ms.MyExampleJob2.agent</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/zsh</string>
      <string>/Users/username/Documents/do_something.sh</string>
      <string>--file</string>
      <string>inputfile.csv</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>4</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Weekday</key>
        <integer>5</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>30</integer>
        <key>Weekday</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>30</integer>
        <key>Weekday</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>30</integer>
        <key>Weekday</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>30</integer>
        <key>Weekday</key>
        <integer>4</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>30</integer>
        <key>Weekday</key>
        <integer>5</integer>
      </dict>
    </array>
    <key>ExitTimeOut</key>
    <integer>30</integer>
    <key>WorkingDirectory</key>
    <string>/Users/username</string>
    <key>StandardErrorPath</key>
    <string>/Users/username/Library/Logs/macschedule/local.username.ms.MyExampleJob2.err</string>
    <key>StandardOutPath</key>
    <string>/Users/username/Library/Logs/macschedule/local.username.ms.MyExampleJob2.out</string>
  </dict>
</plist>
